<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dit.app.ai.model.mapper.InterviewMapper">

	<!-- 새 인터뷰 세션 저장 -->
	<insert id="insertInterviewSession">
		INSERT INTO "INTERVIEW_SESSIONS"
		VALUES(#{sessionId},
		#{position}, #{status}, DEFAULT, #{memberNo})
	</insert>

	<!-- 인터뷰 메시지 삽입 -->
	<insert id="insertInteviewMessage">
		INSERT INTO "INTERVIEW_MESSAGES"
		VALUES(SEQ_MSG_NO.NEXTVAL, #{sessionId}, #{role}, #{content}, DEFAULT)
	</insert>

	<!-- sessionId로 이전 메시지 목록 조회 -->
	<select id="selectAllMessageBySessionId">
		SELECT MESSAGE_ID, I_MSG.SESSION_ID, ROLE, CONTENT
		FROM "INTERVIEW_MESSAGES" I_MSG
		JOIN "INTERVIEW_SESSIONS" I_SES
		ON
		I_MSG.SESSION_ID = I_SES.SESSION_ID
		WHERE I_MSG.SESSION_ID = #{sessionId}
		<if test='status == "N"'>
			AND I_SES.STATUS = 'N'
		</if>
		ORDER BY MESSAGE_ID
	</select>

	<!-- session status값 변경(종료) -->
	<update id="completeInterviewSession">
		UPDATE "INTERVIEW_SESSIONS" SET
		STATUS = 'Y'
		WHERE
		SESSION_ID = #{memberSessionId}
	</update>

	<!-- memberNo로 지난 인터뷰 목록 조회 -->
	<select id="selectInterviewHistory">
		SELECT
		S.SESSION_ID,
		S.POSITION,
		S.STATUS,
		S.MEMBER_NO,
		TO_CHAR(S.CREATED_AT, 'YYYY-MM-DD HH24:MI:SS') AS CREATED_AT,
		(
		SELECT DBMS_LOB.SUBSTR(CONTENT, 4000, 1)
		FROM (
		SELECT CONTENT, SESSION_ID
		FROM "INTERVIEW_MESSAGES"
		ORDER BY CREATED_AT DESC
		) M
		WHERE M.SESSION_ID = S.SESSION_ID
		AND ROWNUM = 1
		) AS LAST_MESSAGE
		FROM "INTERVIEW_SESSIONS" S
		WHERE S.MEMBER_NO = #{memberNo}
		AND S.CREATED_AT >= (SYSDATE - 7)

		<if test="filter != null and filter != 'ALL'">
			<choose>
				<when test="filter == 'COMPLETED'">
					AND S.STATUS = 'Y'
				</when>
				<when test="filter == 'IN_PROGRESS'">
					AND S.STATUS = 'N'
				</when>
			</choose>
		</if>
		ORDER BY
		<choose>
			<when test="order == 'oldest'"> S.CREATED_AT ASC </when>
			<otherwise> S.CREATED_AT DESC </otherwise>
		</choose>
		OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	</select>
	
	<select id="checkAlreadyFeedback">
		SELECT COUNT(*) FROM "INTERVIEW_FEEDBACK"
		WHERE SESSION_ID = #{sessionId}
	</select>
	
	<insert id="insertFeedback">
		INSERT INTO "INTERVIEW_FEEDBACK"
		VALUES(#{sessionId}, #{feedbackContent}, DEFAULT)
	</insert>
	
	<select id="selectFeedback">
		SELECT FEEDBACK_CONTENT FROM "INTERVIEW_FEEDBACK"
		WHERE SESSION_ID = #{sessionId}
	</select>

</mapper>
